/* Toggler Button */
.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center / 1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

/* Top Bar */
.top-row {
    min-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.45);
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: 600;
}

/* STYLE Icon Base Style*/
.bi {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

/* Icons */

.bi {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.bi-dashboard {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M0 0h6v6H0V0zm10 0h6v4h-6V0zM0 10h6v6H0v-6zm10 6h6v-6h-6v6z'/%3E%3C/svg%3E");
}

.bi-new-entry {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 4v4h4v1H8v4H7V9H3V8h4V4h1z'/%3E%3C/svg%3E");
}

.bi-calendar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M3 0h1v2h8V0h1v2h2v14H0V2h3V0zm12 5H1v10h14V5z'/%3E%3C/svg%3E");
}

.bi-journal {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M1 2.828c.885-.37 2.154-.828 4-.828s3.115.458 4 .828V14c-.885-.37-2.154-.828-4-.828s-3.115.458-4 .828V2.828z'/%3E%3C/svg%3E");
}

.bi-analytics {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M1 13h2V6H1v7zm4 0h2V1H5v12zm4 0h2V8H9v5zm4 0h2V4h-2v9z'/%3E%3C/svg%3E");
}

.bi-settings {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M9.667 1.333L9.333 3h-2l-.334-1.667L5.667 2l.666 1.333L5 4.667l-1.333-.667L2 5.667l1.333.666L3 8l-1.667.333L2 9.667l1.667-.334L5 11.333l-.667 1.334L5.667 14l.666-1.333h2l.667 1.333L10.333 14l-.666-1.333L11 11.333l1.667.334L14 9.667l-1.667-.333.333-2-1.333-.666.667-1.334L10.333 2z'/%3E%3C/svg%3E");
}


/* Nav Items */
.nav-item {
    font-size: 0.95rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        border-radius: 6px;
        height: 3rem;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 0.75rem;
    }

    /* Active link */
    .nav-item ::deep a.active {
        background-color: rgba(255, 255, 255, 0.35);
        color: white;
    }

    /* Hover */
    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
    }

/* Sidebar Behavior*/
.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

/* Destop Mode*/
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
